body{
    font-family: 'Open Sans', sans-serif;
}

/* navbar */
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link{
    color: #a67ecf;
    font-size: 16px;
    text-transform: uppercase;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active > .nav-link:hover{
    color: #a67ecf;
}
.navbar-light .navbar-brand{
    font-weight: bold;
    font-size: 18px;
}

/* about section */
.about{
    width: 100%;
    height: auto;
    padding: 50px 0;
}
.about .narrow h1 , .product h1{
    font-size: 2rem;
    color: #a67ecf;
    font-weight: bold;
    margin-bottom: 2%;
}
.about .narrow p , .product p{
    color: #888;
    line-height: 1.8;
}
.about img{
    width: 100%;
    margin-bottom: 3%;
}
.about .img , .about .img2 , .img3, .img4{
    background: url(../images/work-1.jpg);
    height: 500px;
    background-size: cover;
    position: relative;
}
.about .img2{
    background: url(../images/work-2.jpg);
}
.about .img3{
    background: url(../images/work-3.jpg);
}
.about .img4{
    background: url(../images/work-4.jpg);
}
.about .img p , .about .img2 p , .img3 p, .img4 p{
    position: absolute;
    bottom: 0;
    color: #ddd;
    background: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    padding: 20px;
    margin: 0;
}
.about .desc{
    color: #dedede;
    float: left;
}
.about .desc .desc1{
    margin-bottom: 31%;
}
.about .desc .desc2{
    margin-bottom: 15%;
}

/* service section  */
.service{
    width: 100%;
    height: 400px;
    background: url(../images/intro.jpg);
    background-attachment: fixed;
    margin-top: 7%;
    margin-bottom: 7%;
    text-align: center;
}
.service p{
    color: #fff;
    border: 2px solid #fff;
    font-weight: bold;
    padding: 25px;
    font-size: 20px;
    display: inline-block;
    margin-top: 15%;
    text-transform: uppercase;

}

/* products */
.product{
    width: 100%;
    height: auto;
    padding: 50px 0;
}
.product img{
    width: 100%;
    height: 250px;
}

/* choose */
.choose{
    width: 100%;
    height: auto;
    background: #f7f6f6;
    margin: 80px 0;
    padding: 50px 0;
}
.choose i{
    float: left;
    position: relative;
    top: 55px;
    width: 20%;
    font-size: 50px;
    color: gray;
}
.choose .part{
    width: 80%;
    float: right;
    padding: 0 24px;
}
.choose .part h2{
    margin-bottom: 20px;
    color: #a67ecf;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
}
.choose .part p{
    color: #adaaaa;
}

/* footer */
footer{
    width: 100%;
    height: auto;
    padding: 20px 0;
    margin-bottom: 50px ;
}
footer {
    font-size: 18px;
    color: #888;
}
footer i{
    padding: 10px;
    background: #777676;
    color: #fff;
    border-radius: 50%;
}



/* media query */
/*  Small devices (landscape phones, 576px and up) */
@media (max-width: 579px) {
    .about .row .desc{
        display: none;
    }
  }

/*  Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .about .row .desc{
        display: none;
    }
 }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 1.5rem;
    }
    .about .row .desc{
        display: block;
    }
}
 

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }